<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/products/create">Create new product</a>
<h1>Products</h1>
<table border="1">
    <tr>
        <th>name</th>
        <th>description</th>
    </tr>
    <th:block th:each="product : ${products}">
        <tr>
            <td th:text="${product.name}"></td>
            <td th:text="${product.description}"></td>
            <td><a th:href="@{/products/update/__${product.id}__ }">Update</a></td>
            <td><a th:href="@{/products/delete/__${product.id}__ }">Delete</a></td>
        </tr>
    </th:block>
</table>
</body>
</html>
